*{
    margin: 0;
    padding: 0;
 }
 
 *,
 *::after,
 *::before{
    box-sizing: border-box;
 }
 
 html{
    box-sizing: border-box;
    font-size: 62.5% // 1rem = 10px, 10px/16px = 62%;
 }

 body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
 }
 
 li{
     list-style-type: none;
 }
 