*{
   margin: 0;
   padding: 0;
}

*,
*::after,
*::before{
   box-sizing: border-box;
}

html{
   box-sizing: border-box;
   font-size: 62.5% // 1rem = 10px, 10px/16px = 62%;
}

body{
   font-family: 'Roboto', sans-serif;
   line-height: 1.6;
   font-size: 1.6rem;
   font-weight: 300;
}

li{
    list-style-type: none;
}

.android_section{
    display: flex;
    padding: 20rem 14rem 4rem;
    flex-direction: column;
    align-items: center;
}
.android_header{
    font-size: 5rem;
    font-weight: 300;
}
.android_description{
    text-align: center;
    padding: 0 15rem 7rem;
    font: 300 2rem/3.5rem Roboto, sans-serif;
}


    .content{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: space-between; 
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card{
        border-radius: .6rem;
        padding: 6rem;
        margin: 1rem;
        background-color: rgb(19, 141, 255);
    }

    .one{
        flex: 1 1 25%;
    }
    .two{
        flex: 0 0 50%;
    }
    .three{
        flex: 1 0 50%;
    }

