/////////////////////////////
/// landing_page__footer

footer.landing_page__footer{
    color: #fff !important;
    font-size: 2rem;
    background-color: rgb(133, 133, 133);
    text-align: end;
    padding: 1rem 4rem;
}