.search.icon {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);

    &::after{
        content: '';
        position: absolute;
        top: 12px;
        left: 5px;
        height: 6px;
        width: 1px;
        background-color: currentColor;
      }
      
  }
  
  

.search_1.icon{
    // background-color: orangered;
    width: 7rem; height: 7rem;
    border-radius: 50%;
    border: .4rem solid #F2F2F2; 
    transform: translate(20rem,2rem);
    &::after{
        content:" ";
        display: block;
        width: 5rem;
        height: .5rem;
        background-color: #F2F2F2;
        transform: 
            rotate(40deg) 
            translate(8rem,1.8rem);
    }
}

.search_plus_1.icon{
    position: absolute;
    width: 7rem; height: 7rem;
    border-radius: 50%;
    border: .4rem solid #F2F2F2; 
    transform: translate(20rem,2rem);
    &::after{
        content:" ";
        display: block;
        width: 5rem;
        height: .5rem;
        background-color: #F2F2F2;
        transform: 
            rotate(40deg) 
            translate(7.5rem,1.2rem);
    }

    i { 

        &::after{
            content: " ";
            position: absolute;
            background-color: #ffb;
            display: block;
            width: .6rem; height: 4rem;
            top: 20%;left:45%;
        }


    }

}