<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Indexpage_
        link(rel="stylesheet", href="../assets/style/android/style.min.css")
    body
        div.indexpage
            .indexpage__left
                .indexpage__grid_layout
                    - for (i=1; i<=12; i++)
                        .indexpage__grid_box_container
                            .indexpage__grid_box Two
                            .indexpage__grid_box1 One
                        
                            
            .indexpage__right
                h1 Format IS Everything
                p To raise new questions, new possibilities, to regard old problems from a new angle, requires creative imagination and marks real advance in science. 
z