<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../assets/style/android/style.min.css")
        title OnePage
    body

    .one_page 
        //- h2 Rajkot kalavwad Road
        .bg-video
            video(autoplay loop)
                source(src="../assets/bg.mp4"  type="video/mp4")
                //- source(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4")
        
        .one_page__coverpage
            h4.one_page__heading_top Atmiya University
            h2.one_page__main_heading Msc
            h4.one_page__heading_bottom - Department of Computer Science
            