////////////////////////////
/// LOGO
.logo{
    height: 6rem;
    margin-left: 2.4rem;
}




////////////////////////////
/// SEARCH
.search {
    // background-color: rgb(236, 213, 81);
    
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        background-color: var(--color-grey-light-2);
        width: 90%;
        padding: 1rem 2.7rem;
        border: none;
        border-radius: 20rem;
        margin-right: -3rem;

        transition: all .2s;    

        &:focus{
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 130%;
        }

        &::-webkit-input-placeholder{
            color: var(--color-grey-dark-3);
        }

    }

    &__input:focus + &_btn{
        background-color: var(--color-grey-light-3);
    }

    &__btn{
        
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        transform: translateY(3px);
        fill:var(--color-grey-dark-3);
    }
}



////////////////////////////
/// USER NAVIGATION
.userNav {
    // background-color: rgb(236, 207, 81);
    align-self: stretch;
    display: flex;
    align-items: center;
    
    &__icon-box{

        // for Notification ICON
        position: relative;

        &:hover{
            background-color: var(--color-grey-light-3);
        }
    }

    & > * {
        // nested Flex ( each Every childs of UserNav Class), align center Horizontali
        display: flex;

        // align Horizontli center all items (userName iconBox)
        align-items: center;

        // height 100% as parent (Same as HeaderNavi)
        align-self: stretch;

        padding: .7rem 1rem;
        cursor: pointer;
    }

    
    &__icon{
        
        display: flex;

        height: 2.4rem;
        width: 2.4rem;
    }

    &__notification{
        background-color: var(--color-primary);
        border-radius:40px;
        font-size: 1rem;

        // Creating OVAL For no.of Nofi
        padding: 2px;
        text-align: center;
        height: 2rem;
        width: 2rem;
        
        // toAlign no.of.Noti at top of the UserNavICON
        position: absolute;
        top:1rem;
        left:2.2rem;
        
    }

    &__userDP{
        height: 4rem;
        width: 4rem;
        border-radius: 100px;
    }

    &__userName{
        font-size: 1.2rem;
    }

}




////////////////////////////
/// Sidebar Navigation
.sidebar{

    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-grey-dark-1);
        
        &List{
            
        }

        &_link,
        &_link:link,
        &_link:visited{
            color: var(--color-grey-light-2);
            display: flex;
            align-items: center;
            
            text-transform: uppercase;
            font-size: 1.4rem;
            // padding: .2rem 2rem;
            // HoverEffect (Side SolidLine)
            position: relative;
            
            & span{
                padding: 10px;
                z-index: 10;
            }
            
        }
    
        &_link::before{
            transition: all .14s ease-in-out,
                        height .31s ease-in-out;
            content: "";
            left: 0;
            top: 0;
            position: absolute;
            background-color: var(--color-primary-light);
            width: .9rem;
            // height: 0%;
            height: 100%;
            transform: scaleX(.2);
            // opacity: 0.3;
            
        }
    
        &_link:hover::before{
            content: "";
            width: 100%;
            height: 100%;
            transform: scaleX(1);
            background-color: var(--color-primary);
            opacity: 1;
        }

        &Item{
            // background-color: rgb(219, 97, 60);   
        }
    
        &Icon{
            z-index: 10;
            height: 2.2rem;
            width: 2.2rem;
            margin-left: 2rem;
            fill: currentColor;
        }

    } //sidebar__nav

} //.sideBar





////////////////////////////
/// Content > GALLARY

.gallary{
    display: flex;
    justify-content: space-around;

    &__figure_img{

    }

    &__photo{
        width: 100%;
        height: 25rem;
    }
}


////////////////////////////
/// Content > HEADING
.headline{
    display: flex;
    justify-content:stretch;
    align-items: center;

    // background-color: var(--color-grey-light-1  );
    border-bottom: 1px solid var(--color-grey-light-3);

    &__heading{
        padding: 1rem 3rem;
        font-size: 2.3rem;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    &__stars{
        flex: 1;
        margin-left: 2rem;
        margin-right: auto;
    }

    &__star{
        width: 2.7rem;
        height: 2.7rem;
        fill: var(--color-primary);
    }

    &__link{
        text-decoration: underline;
        font-size: 1.9rem;
        padding: 1rem 2rem;
        // transform: translateY(-0.8rem);
        transition: all .1s ease-out;

        &:hover{
            text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.295);
            transform: scale(1.1) ;
        }
    }    

}



////////////////////////////
/// ARTICAL & TESTIMONIALS

.main_article{
    display: flex;
    justify-content: space-between;

    padding: 3rem;

    &__artical{
        box-shadow: 0 2rem 5rem rgba(#000,0.3);
        margin-right: 3rem;
        flex: 0 0 70%;
        // background-color: rgb(162, 92, 228);
    }

    &__paragraphs{    
        padding: 3rem;
    }



    &__testimonial{
        flex: 1;
        padding: 3rem;
        background-color: rgb(57, 212, 187);
    }
}