.main-contenter{
    width: 90rem;
    // width: 120rem;
    margin: 5rem auto;
    min-height: 80rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.394);

    min-height: 80rem;
}

.container{   
display: flex;
}

.header{
    background-color: #fff;
    display: flex;  

    justify-content: space-between;
    align-items: center;
}

.sidebar{
  background-color: #ccc;   
  flex: 0 0 20rem;  
}

.content{
    background-color: rgba(0, 204, 255, 0.897);
    flex:1;
}
.search_icon{
    height: 2rem;
}

