doctype html
html(lang='en')
  head
    // view port for responsive Web design
    meta(name='viewport', content='width=device-width , initial-scale=1.0')
    link(href='assets/style/modern_site/style.min.css', rel='stylesheet', type='text/css')
    // Google Fonts (Lato)
    link(href='https://fonts.google.com/selection?selection.family=Lato:100,300,300i,400', rel='stylesheet', type='text/css')
    // Icons
    title  My Nest Designing Solutions 
  body#home
    header
      nav.row
        div
          img.logo(src='assets/img/simple-logo3.png')
        ul.main-nav
          li
            a(href='#home') Home
          li
            a(href='#gallary') Gallary
          li
            a(href='#aboutus') About us
          li
            a(href='#plans')  Plans
          li
            a(href='#Contact') Registration
      .hero-text-box
        .row
          h1 Lorem ipsum dolor sit ametipsum dolor sit amet
          a.btn.btn-full.js--gallary(href='#')  Gallary 
          a.btn.btn-ghost.js--plans(href='#')  Past Work 
    section.section-features.js--section-features
      .row
        h2  Section of why we are - features 
        p.heading-desc
          | Lorem ipsum dolor sit amet, consectetur adipisici amet, consectetur adipisici amet, consectetur adipisici amet, consectetur adipisici amet, caepe.
      .grid.grid-pad
        .col-1-4
          .content
            i.my_icon.icon-basic-share  
            h3 Share ideas easly 
            p
              | Lorem ipsum dolor sit amet, amet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpoconsectetur adipisicing elit. adipisci, repellendus ea? Officiis voluptate numquam incidunt corporis saepe.
        .col-1-4
          .content
            i.my_icon.icon-basic-mixer2  
            h3 Its all about you 
            p
              | Lorem ipsum dolor sit ameamet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpot, consecteturctetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpot, consectetur adipisicing etem adipisci, repellendus ea? Officiis voluptate numquam incidunt corporis saepe.
        .col-1-4.hide-on-mobile
          .content
            i.my_icon.icon-basic-bolt  
            h3  inhence power 
            p
              | Lorem ipsum dolor sit amet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpoamet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corporis saepe.
        .col-1-4.hide-on-mobile
          .content
            i.my_icon.icon-basic-cup  
            h3  Live like a 'pro' 
            p
              | Lorem ipsum dolor sit ameamet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpot, consectetur adipi expedilendus ea? Officiis voluptate numquam incidunt corporis saepe.
    section#gallary.home-gallary.clearfix.js--home-gallary
      ul.gallary-4
        li.gallary-4-1
          img(src='assets/img/bhk1.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk2.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk3.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk4.jpg')
      ul.gallary-4
        li.gallary-4-1
          img(src='assets/img/bhk5.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk6.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk7.jpg')
        li.gallary-4-1
          img(src='assets/img/bhk8.jpg')
    section#aboutus.temp-section.js--temp-section
      .row
        h2  Who realy i am 
      .grid.grid-pad
        .col-1-2
          .content.temp-section-box
            a
              img(src='assets/img/jay.png')
        .col-1-2
          .content.temp-section-box
            .block-no
              div 1
              p
                | onsequuntur, minus optio eum aliquid, quis. Dolor recusandae fugit blanditiis harum enim vel, ullam expedita.
            .block-no
              div 2
              p
                | onsequuntur, minus optio eum aliquid, quis. Dolor recusandae fugit blanditiis harum enim vel, ullam expedita.
            .block-no
              div 3
              p
                | onsequuntur, minus optio eum aliquid, quis. Dolor recusandae fugit blanditiis harum enim vel, ullam expedita.
            .block-no
              div 4
              p
                | hello my name is jay solanki and i am the owner of my nest desining solutions.onse
            .btns
              a.btn-2.btn-f.btn-blue(href='') Facebook
              a.btn-2.btn-g.btn-red(href='') Gmail
              a.btn-2.btn-t.btn-lightblue(href='') Twitter
    section#plans.section-products.js--section-products
      .row
        h2  one-of-the best plans for yout sweet home
        p
          | eamet, consectetur es recusandae minima autem adipisci, repellendus ea? Officiis voluptate numquam incidunt corpot, consectetur adipi expedilendus ea? Of
      .grid.grid-pad
        .col-1-4
          .content.price-box
            .img
              img(alt='', src='assets/img/demo1.jpg')
            h3.product  1BHK 
            .price $2000
            .product-details
              ul
                li  i3 1st Gen
                li Lorem ipssdolor
                li Loremsdf dolor
                li Lorem ipsum dlor
        .col-1-4
          .content.price-box
            .img
              img(alt='', src='assets/img/demo2.jpg')
            h3.product  2BHK 
            .price $4000
            .product-details
              ul
                li  i3 1st Gen
                li Lorem ipssdolor
                li Loremsdf dolor
                li Lorem ipsum dlor
        .col-1-4
          .content.price-box
            .img
              img(alt='', src='assets/img/demo3.jpg')
            h3.product  3BHK 
            .price $5000
            .product-details
              ul
                li i3 1st Gen
                li Lorem ipssdolor
                li Loremsdf dolor
                li Lorem ipsum dlor
        .col-1-4
          .content.price-box
            .img
              img(alt='', src='assets/img/demo4.jpg')
            h3.product  3BHK 
            .price $5000
            .product-details
              ul
                li  i3 1st Gen
                li Lorem ipssdolor
                li Loremsdf dolor
                li Lorem ipsum dlor
    section#reviews.section-testimonials-bg
      .section-testimonials.js--section-testimonials
        .grid.grid-pad
          .col-1-2
          .col-1-2
            .row
              h2
                | What do our old customers 
                br
                |  say about us!
            .col-1-2
              blockquote.testimonials-text
                | Lorem ipsum dolor sit amet, cs hure nam eligendi, perferendis dolorem saepe temporibus autem provident natus eius.
                cite.testimonials-name
                  img.testimonials-img(src='assets/img/dpn.jpg')
                  | Dipen Parmar
            .col-1-2
              blockquote.testimonials-text
                | Lorem ipsum dolor sit amet, cs hure nam eligendi, perferendis dolorem saepe temporibus autem provident natus eius.
                cite.testimonials-name
                  img.testimonials-img(src='assets/img/dpn.jpg')
                  | Dipen Parmar
    section#Contact.section-form.js--section-form
      .row
        h2  We are happy to here from you
      form.contect-form(name='contect-form', action='post')
      .row
        .input-margin.grid-pad
          .col-1-3
            label Name
          .col-2-3
            input#name(name='name', required='', type='text', placeholder='Enter yout good name ')
        .input-margin.grid-pad
          .col-1-3
            label Email
          .col-2-3
            input#email(name='email', required='', type='email', placeholder='Enter your email address ')
        .input-margin.grid-pad
          .col-1-3
            label How do you find us
          .col-2-3
            select(name='find-us', id='')
              option(value='Internet')  internet 
              option(value='Firend')  Firend 
              option(value='Addvertisment')  Addvertisment 
              option(value='Google')  Google 
              option(value='Other')  Other 
        .input-margin.grid-pad
          .col-1-3
            label Drop us a line
          .col-2-3
            textarea#msg(name='msg', placeholder='Your Messege', rows='5', cols='38')
        .input-margin.grid-pad
          .col-1-3
          .col-2-3
            button#submit.btn-submit(name='submit', type='submit')  Submit
          .row
    footer.setion-footer.js--setion-footer
      .grid.grid-pad
        .row
          .col-2-4
            ul.footer-nav
              li
                a(href='#')  About us 
              li
                a(href='#')  Blog  
              li
                a(href='#')  Press   
              li
                a(href='#')  iOS App 
              li
                a(href='#')  Link 
          .col-2-4.footer-icons
            ul
              li
                a(href='#')
                  i.my_icon.icon-basic-world  
              li
                a(href='#')
                  i.my_icon.icon-basic-bolt  
              li
                a(href='#')
                  i.my_icon.icon-basic-paperplane  
        .row
          .footer-text
            p  Copyright @2018 All rights received ''MY NEST DESINING SOLUTIONS'' ,
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nulla voluptate aspernatur excepturi blanditiis exercitationem rem mollitia magni, sit quae ea, sequi voluptates recusandae voluptatem ab aliquam. Laudantium, distinctio, sunt.
    // Local Storage offline uses
    script(src='vendors/js/jquery.min.js')
    // Waypoints Local Storage offline uses
    script(src='vendors/js/jquery.waypoints.min.js')
    script(src='resources/js/script.js')